.card {
    max-width: 1200px;
}
.dogshop {
    color: #646464;
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem; */
    /* margin-left: 120px; */
    background: white;
    border: 1px solid #646464;
    border-radius: 50pt;
    width: 130px;
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.dogshop:hover {
    color:white;
    background: #646464;
}
.catshop {
    color: #646464;
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem; */
    /* margin-left: 12; */
    background: white;
    border: 1px solid #F5DF4D;
    border-radius: 50pt;
    width: 130px;
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.catshop:hover {
    color:white;
    background: #F5DF4D;
}
.empty_notice {
    text-align: center;
}