body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif
}
* {
    padding: 0;
    
}
p, .add-title {
    text-align: center;
}
.ProductItemDetail{
    display: flex;

}
/* .AddBtn {
    margin: auto;
} */
.addtocart {
    color: #646464;
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem; */
    /* margin-left: 12; */
    background: white;
    border: 1px solid #F5DF4D;
    border-radius: 50pt;
    width: 130px;
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.addtocart:hover {
    color:white;
    background: #F5DF4D;
}
.orderbtn {
    color:white;
    background: #F5DF4D;
    width: 60%;
    border-radius: 5pt;
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.orderbtn:hover {
    opacity: 70%;
}
.couponbtn {
    color: white;
    background: #646464;
    width: 140px;
    border-radius: 5pt;
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.Coupon_input {
    width: 20px;
}
.processtag {
    width: 40px;
    height: 40px;
    background: #F5DF4D;
    border-radius: 50pt;
    position: relative;
}
.progressnum1 {
    font-size: 24px;
    position:absolute;
    margin-left: 34%;
}
.progresstitle {
    font-size: 24px;
    margin-left: 10px;
}
.processtag2 {
    width: 40px;
    height: 40px;
    color: white;
    background: #646464;
    border-radius: 50pt;
    position: relative;
}
.progressnum2 {
    font-size: 24px;
    position:absolute;
    margin-left: 34%;
}
.progresstitle2 {
    font-size: 24px;
    margin-left: 10px;
}
.processtag3 {
    width: 40px;
    height: 40px;
    color:white;
    background: #646464;
    border-radius: 50pt;
    position: relative;
}
.progressnum3 {
    font-size: 24px;
    position:absolute;
    margin-left: 34%;
}
.progresstitle3 {
    font-size: 24px;
    margin-left: 10px;
}
.addtocartGroup{
    display: flex;
    flex: column;
}
.DetailGroup{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.SummaryItem{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.DeliveryItem{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.CouponItem{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
/* Medium devices (tablets, 768px and up) */ 
/* @media (min-width: 768px) { 
.addtocartGroup{
    display: flex;
    flex-direction: column;
}
} */